@font-face {
    font-family: Kurland;
    src: url(/kurland/Kurland.ttf) format(Opentype);
    font-weight: normal;
    font-style: normal;
  }
body {
    font-family: Kurland;
}

.hoja {
    position: relative;
    width: 600px;
    padding: 100px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: hidden;
}